.table {
  margin: auto;
  background-color: rgb(205, 246, 255);
  width: 100%;
  text-align: center;
  box-shadow: 3px 3px 10px 1px rgb(154, 155, 155);
}

.table-header tr {
  background-color: rgb(157, 201, 211);
  border: 1px solid rgb(59, 127, 143);
  height: 3em;
}

.table-row:nth-child(even) {
  background-color: rgb(180, 230, 241);
}

.table-row {
  height: 2em;
}
